.axes-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.axes-container__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateZ(0) skew(0) translate(0, 0);
  transition: transform 1s linear;
  transform-style: preserve-3d;


  &.is-done {
    transform: rotateZ(30deg) skew(-30deg) translate(-256px, -26px);
  }
}

.axes-container__x,
.axes-container_y {
  position: absolute;
  margin: 0;
  max-width: 9999px;
}

.axes-container__x {
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: $cBlue;
  transform: rotate(90deg) scale(200, 1);
}


.axes-container__y {
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: $cPink;
  transform: rotate(90deg) scale(1, 200);
}
