.box {
  -webkit-tap-highlight-color: transparent;
  width: $box-size;
  height: $box-size;
  transform: rotateX(54.736deg) rotateZ(-45deg);
  transform-style: preserve-3d;

  &,
  &:hover {
    margin: 0 ($box-size / 2);
    vertical-align: top;
    background: none transparent;
  }

  &:active {
    background: none;
  }
}

.box__l,
.box__r,
.box__t,
.box__br,
.box__bl {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.box__l {
  width: 100%;
  height: 100%;
  background: var(--cLead-darker-10);
  transform: rotateY(-90deg) translateZ($box-size/ 2);
}

.box__r {
  width: 100%;
  height: 100%;
  background: var(--cLead-darker-5);
  transform: rotateX(-90deg) translateZ($box-size / 2);
}

.box__t {
  width: 100%;
  height: 100%;
  background: var(--cLead);
  transform: translateZ($box-size / 2);
  transform-origin: 0 0 0;
  transition-property: transform, background;
  transition-duration: 0.3s;
}

.is-open .box__t {
  background: var(--cLead-darker-5);
  transform: rotateX(90deg) translateY(40px) translateZ(0px);
}

.box__br {
  width: 100%;
  height: 100%;
  background: var(--cLead-darker-20);
  transform: rotateX(90deg) translateZ($box-size / 2);
}

.box__bl {
  width: 100%;
  height: 100%;
  background: var(--cLead-darker-15);
  transform: rotateY(90deg) translateZ($box-size/ 2);
}

.box__bubble {
  position: absolute;
  left: ($box-size - $bubble-size) / 2;
  top: ($box-size - $bubble-size) / 2;
  width: $bubble-size;
  height: $bubble-size;
  color: var(--cInnerText);
  background: var(--cDistinct);
  text-align: center;
  border-radius: 100%;
  transform: rotateX(-90deg) rotateY(-45deg) scaleY(1.2)
    translateY($box-size / 2) scale(0.1);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-in-out;

  @media (prefers-color-scheme: dark) {
    color: var(--cText);
  }
}

.has-opened .box__bubble {
  transform: rotateX(-90deg) rotateY(-45deg) scaleY(1.2)
    translateY(-$box-size * 2) scale(1);
}

.box__bubble-inner {
  width: $bubble-size;
  height: $bubble-size;
  display: table-cell;
  vertical-align: middle;
}

.box__title,
.box__desc {
  margin: 20px;
  line-height: 1.1;
}

.box__title {
  margin-bottom: 10px;
  font-size: 32px;
}

.box__desc {
  margin-top: 0;
  font-size: 16px;
}
