<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="google-site-verification" content="fOlytpQeHpjDf5Ww2o-u5RHPjudnZ4f-W6a4DwGYWM0" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <style>
    {% capture include_to_scssify %}
      {% include css/base.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  <link rel="stylesheet" href="css/style-modern.css" media="screen and (min-width: 768px)" />
  <script src="{{ "/js/main.js" | prepend: site.baseurl }}" type="module"></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
