// Dimensions
$box-size: 80px;
$bubble-size: 200px;

// Colours
$cLight: #fefefe;
$cGrey: #f1f1f1;
$cBlue: #8dd2ce;
$cPink: #ec008c;

// Media Queries
$mqRetina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
