.box {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--cInnerText);

  &:hover {
    background: var(--cLead-darker-10);
  }

  &:active {
    background: var(--cDistinct);
  }
}
