.box-list__item {
  text-align: center;
  font-family: "Futura", Arial, sans-serif;
  background: var(--cLead);

  & + & {
    border-top: 1px solid var(--cLeadLight);
  }
}

.box__title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.box__desc {
  font-size: 1em;
}
