.main-logo {
  $diameter: 140px;

  position: relative;
  text-align: center;
  margin: 0.5em auto 1em;
  padding-top: 40px;
  height: 100px;

  a {
    position: absolute;
    left: 50%;
    top: 0;
    display: block;
    width: $diameter;
    height: $diameter;
    margin: 0 0 0 ($diameter / -2);
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: $diameter;
    height: $diameter;
  }
}
